<!DOCTYPE html>
<html>
    <head>
        <title>Basic details</title>
    
    </head>
    <body>
        <div id="todo-table" >
            <form method="POST"  action="/">
                
            
               <a  href= "/list">GO TO LIST</a>
               <br>
                  <p>Add User</p>
                    <input type="text" name ="name" placeholder="name..."    />
                    <input type="email" name ="username" placeholder="username..."  />
                    <input type="password" name ="password" placeholder="password."  />

                
                            
            
                
                <button type="submit">Add</button>
            </form>
        
        </div>
			
			
    </body>
</html>